# Learning SQLite

### Display Version

In [1]:
import sqlite3

print(sqlite3.sqlite_version)
print(sqlite3.sqlite_version_info)

3.45.3
(3, 45, 3)

### Create Database in Memory (In Memory Database)

In [2]:
import sqlite3 as sqlite

connection = sqlite.connect(database=":memory:")

connection.close()

### Create Database in File

In [ ]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_01.db"
connection = sqlite.connect(database=database_pathfile)

connection.close()

### Create Table

In [ ]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_02.db"
connection = sqlite.connect(database=database_pathfile)
cursor = connection.cursor()

query = "CREATE TABLE Users (FullName);"
cursor.execute(query)
connection.commit()

cursor.close()
connection.close()

### Create Table (Best Practice)

- If we run the below code more that once, We get some error!

In [ ]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_03.db"
connection = sqlite.connect(database=database_pathfile)
cursor = connection.cursor()

query = """
CREATE TABLE Users (
    Id        INT  PRIMARY KEY NOT NULL,
    FirstName TEXT             NOT NULL,
    LastName  TEXT             NOT NULL,
    Age       INT              NOT NULL);
"""
cursor.execute(query)
connection.commit()

cursor.close()
connection.close()

OperationalError: table Users already exists

### Error Handling is too Important!

In [7]:
try:
    pass
except:
    pass
finally:
    pass

In [ ]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_04.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    query = """
    CREATE TABLE Users (
        Id INT PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age       INT  NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

### Create Record (Row)

In [ ]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_05.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    # **************************************************
    # New: IF NOT EXISTS
    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id INT PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age       INT  NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "INSERT INTO Users (Id, FirstName, LastName, Age) VALUES (1, 'Dariush', 'Tasdighi', 52)"
    cursor.execute(query)
    connection.commit()

    query = "INSERT INTO Users (Id, LastName, Age, FirstName) VALUES (2, 'Alavi', 40, 'Ali')"
    cursor.execute(query)
    connection.commit()

    query = "INSERT INTO Users VALUES (3, 'Sara', 'Ahmadi', 30)"
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    user = cursor.fetchone()
    print(user)
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchmany(size=2)
    print(users)
    # **************************************************
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

(1, 'Dariush', 'Tasdighi', 52)
[(1, 'Dariush', 'Tasdighi', 52), (2, 'Ali Reza', 'Alavi', 40), (3, 'Sara', 'Ahmadi', 30)]
[(1, 'Dariush', 'Tasdighi', 52), (2, 'Ali Reza', 'Alavi', 40)]

### Create Record (Best Practice)

In [19]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_06.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id INT PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age       INT  NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    # روش احمق‌ها - SQL Injection خطر
    # **************************************************
    id = 1
    age = 52
    first_name = "Dariush"
    last_name = "Tasdighi"

    query = f"INSERT INTO Users VALUES ({id}, '{first_name}', '{last_name}', {age})"
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    # Best Practice
    # **************************************************
    id = 2
    age = 40
    first_name = "Ali"
    last_name = "Alavi"

    query = "INSERT INTO Users VALUES (?, ?, ?, ?)"
    # Tuple
    values = (id, first_name, last_name, age)

    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    # Best Practice
    # **************************************************
    id = 3
    age = 30
    first_name = "Sara"
    last_name = "Ahmadi"

    query = "INSERT INTO Users VALUES (:id, :first_name, :last_name, :age)"
    # Dictionary
    values = {"id": id, "first_name": first_name, "last_name": last_name, "age": age}

    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(1, 'Dariush', 'Tasdighi', 52), (2, 'Ali', 'Alavi', 40), (3, 'Sara', 'Ahmadi', 30)]

### Batch Create

In [20]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_07.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id INT PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age       INT  NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    values = [
        (11, "First Name 1", "Last Name 1", 21),
        (12, "First Name 2", "Last Name 2", 22),
        (13, "First Name 3", "Last Name 3", 23),
        (14, "First Name 4", "Last Name 4", 24),
        (15, "First Name 5", "Last Name 5", 25),
        (16, "First Name 6", "Last Name 6", 26),
        (17, "First Name 7", "Last Name 7", 27),
        (18, "First Name 8", "Last Name 8", 28),
        (19, "First Name 9", "Last Name 9", 29),
    ]
    # **************************************************

    # **************************************************
    query = f"INSERT INTO Users VALUES (?, ?, ?, ?)"
    cursor.executemany(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(11, 'First Name 1', 'Last Name 1', 21), (12, 'First Name 2', 'Last Name 2', 22), (13, 'First Name 3', 'Last Name 3', 23), (14, 'First Name 4', 'Last Name 4', 24), (15, 'First Name 5', 'Last Name 5', 25), (16, 'First Name 6', 'Last Name 6', 26), (17, 'First Name 7', 'Last Name 7', 27), (18, 'First Name 8', 'Last Name 8', 28), (19, 'First Name 9', 'Last Name 9', 29)]

In [21]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_08.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id INT PRIMARY KEY NOT NULL,
        FirstName TEXT NOT NULL,
        LastName  TEXT NOT NULL,
        Age       INT  NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    values = [
        {"Id": 11, "FirstName": "First Name 1", "LastName": "Last Name 1", "Age": 21},
        {"Id": 12, "FirstName": "First Name 2", "LastName": "Last Name 2", "Age": 22},
        {"Id": 13, "FirstName": "First Name 3", "LastName": "Last Name 3", "Age": 23},
        {"Id": 14, "FirstName": "First Name 4", "LastName": "Last Name 4", "Age": 24},
        {"Id": 15, "FirstName": "First Name 5", "LastName": "Last Name 5", "Age": 25},
        {"Id": 16, "FirstName": "First Name 6", "LastName": "Last Name 6", "Age": 26},
        {"Id": 17, "FirstName": "First Name 7", "LastName": "Last Name 7", "Age": 27},
        {"Id": 18, "FirstName": "First Name 8", "LastName": "Last Name 8", "Age": 28},
        {"Id": 19, "FirstName": "First Name 9", "LastName": "Last Name 9", "Age": 29},
    ]
    # **************************************************

    # **************************************************
    query = f"INSERT INTO Users VALUES (:Id, :FirstName, :LastName, :Age)"
    cursor.executemany(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(11, 'First Name 1', 'Last Name 1', 21), (12, 'First Name 2', 'Last Name 2', 22), (13, 'First Name 3', 'Last Name 3', 23), (14, 'First Name 4', 'Last Name 4', 24), (15, 'First Name 5', 'Last Name 5', 25), (16, 'First Name 6', 'Last Name 6', 26), (17, 'First Name 7', 'Last Name 7', 27), (18, 'First Name 8', 'Last Name 8', 28), (19, 'First Name 9', 'Last Name 9', 29)]

### Some SELECT Samples

In [28]:
import sqlite3 as sqlite

try:
    database_pathfile = "./data/temp_08.db"
    connection = sqlite.connect(database=database_pathfile)
    cursor = connection.cursor()

    # **************************************************
    query = "SELECT * FROM Users;"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    print("-" * 50)

    # **************************************************
    query = "SELECT FirstName, LastName FROM Users;"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    print("-" * 50)

    # **************************************************
    query = "SELECT * FROM Users WHERE Age > 27;"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    print("-" * 50)

    # **************************************************
    # query = "SELECT * FROM Users WHERE Age > 27 ORDER BY FirstName;"
    # query = "SELECT * FROM Users WHERE Age > 27 ORDER BY FirstName ASC;"
    query = "SELECT * FROM Users WHERE Age > 27 ORDER BY FirstName DESC;"

    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    print("-" * 50)

    # **************************************************
    # query = "SELECT rowid, Id, FirstName, LastName FROM Users;"
    # query = "SELECT rowid, * FROM Users;"
    query = "SELECT rowid, * FROM Users WHERE rowid < 4;"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************
except:
    pass
finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(11, 'First Name 1', 'Last Name 1', 21), (12, 'First Name 2', 'Last Name 2', 22), (13, 'First Name 3', 'Last Name 3', 23), (14, 'First Name 4', 'Last Name 4', 24), (15, 'First Name 5', 'Last Name 5', 25), (16, 'First Name 6', 'Last Name 6', 26), (17, 'First Name 7', 'Last Name 7', 27), (18, 'First Name 8', 'Last Name 8', 28), (19, 'First Name 9', 'Last Name 9', 29)]
--------------------------------------------------
[('First Name 1', 'Last Name 1'), ('First Name 2', 'Last Name 2'), ('First Name 3', 'Last Name 3'), ('First Name 4', 'Last Name 4'), ('First Name 5', 'Last Name 5'), ('First Name 6', 'Last Name 6'), ('First Name 7', 'Last Name 7'), ('First Name 8', 'Last Name 8'), ('First Name 9', 'Last Name 9')]
--------------------------------------------------
[(18, 'First Name 8', 'Last Name 8', 28), (19, 'First Name 9', 'Last Name 9', 29)]
--------------------------------------------------
[(19, 'First Name 9', 'Last Name 9', 29), (18, 'First Name 8', 'Last Name 8', 28)]
--------------------------------------------------
[(1, 11, 'First Name 1', 'Last Name 1', 21), (2, 12, 'First Name 2', 'Last Name 2', 22), (3, 13, 'First Name 3', 'Last Name 3', 23)]

### Display Verson of SQLite

In [ ]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_08.db"
connection = sqlite.connect(database=database_pathfile)
cursor = connection.cursor()

query = "SELECT sqlite_version();"
cursor.execute(query)
result = cursor.fetchall()
print(result)

cursor.close()
connection.close()

[('3.45.3',)]

### Display List of Tables

In [31]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_08.db"
connection = sqlite.connect(database=database_pathfile)
cursor = connection.cursor()

query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

cursor.close()
connection.close()

[('Users',)]

### Drop Table

In [32]:
import sqlite3 as sqlite

database_pathfile = "./data/temp_08.db"
connection = sqlite.connect(database=database_pathfile)
cursor = connection.cursor()

query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

# query = "DROP TABLE Users"
query = "DROP TABLE IF EXISTS Users"
cursor.execute(query)
connection.commit()

query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

cursor.close()
connection.close()

[('Users',)]
[]