# Learning SQLite

### Display SQLite Version

In [1]:
import sqlite3

print(sqlite3.sqlite_version)
print(sqlite3.sqlite_version_info)

3.45.3
(3, 45, 3)

### Create Database in Memory (In Memory Database)

In [2]:
import sqlite3 as sqlite

database: str = ":memory:"
connection = sqlite.connect(database=database)

connection.close()

### Create Database in File

In [3]:
import sqlite3 as sqlite

database = "./data/temp_01.db"
connection = sqlite.connect(database=database)

connection.close()

### Create Table

- برنامه ذیل را اگر دوبار اجرا نماییم، خطا رخ می‌دهد و می‌گوید که جدول قبلا ایجاد شده است

##### connection.commit()

- از دستور فوق، زمانی استفاده می‌کنیم که بخواهیم تغییری در بانک اطلاعاتی ایجاد نماییم
    - مثلا جدولی ایجاد کنیم
    - مثلا ساختار جدولی را تغییر دهیم
    - مثلا جدولی را حذف نماییم
    - مثلا اطلاعاتی را به جدولی اضافه نماییم
    - مثلا اطلاعاتی را در جدولی ویرایش نماییم
    - مثلا اطلاعاتی را بخواهیم از جدولی حذف نماییم

In [5]:
import sqlite3 as sqlite

database: str = "./data/temp_02.db"
connection = sqlite.connect(database=database)
cursor = connection.cursor()

query: str = "CREATE TABLE Users (Username);"
cursor.execute(query)
connection.commit()

cursor.close()
connection.close()

OperationalError: table Users already exists

### Create Table (Best Practice)

- برنامه ذیل را نیز اگر دوبار اجرا نماییم، خطا رخ می‌دهد و می‌گوید که جدول قبلا ایجاد شده است

In [9]:
import sqlite3 as sqlite

database: str = "./data/temp_03.db"
connection = sqlite.connect(database=database)
cursor = connection.cursor()

query: str = """
CREATE TABLE Users (
    Id       INT  PRIMARY KEY NOT NULL,
    Username TEXT             NOT NULL,
    Password TEXT             NOT NULL,
    Credit   REAL             NOT NULL);
"""
cursor.execute(query)
connection.commit()

cursor.close()
connection.close()

OperationalError: table Users already exists

### Error Handling is too Important!

In [ ]:
try:
    pass
except:
    pass
finally:
    pass

In [ ]:
import sqlite3 as sqlite

try:
    database: str = "./data/temp_04.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = """
    CREATE TABLE Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """
    cursor.execute(query)
    connection.commit()

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

#ERROR: table Users already exists

### Learning 'IF NOT EXISTS' -> Best Practice

In [ ]:
import sqlite3 as sqlite

try:
    database: str = "./data/temp_05.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = """
    CREATE TABLE IF NOT EXISTS Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """
    cursor.execute(query)
    connection.commit()

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

### Create Record (Row) in Table

In [ ]:
import sqlite3 as sqlite

try:
    database: str = "./data/temp_06.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "INSERT INTO Users (Id, Username, Password, Credit) VALUES (1, 'dariush', '1234512345', 100)"
    cursor.execute(query)
    connection.commit()

    query = "INSERT INTO Users (Id, Password, Credit, Username) VALUES (2, '1234512345', 200.5, 'ali')"
    cursor.execute(query)
    connection.commit()

    query = "INSERT INTO Users VALUES (3, 'sara', '1234512345', 300)"
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    user = cursor.fetchone()
    print(user)
    # **************************************************

    print("-" * 50)

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    print(users)
    # **************************************************

    print("-" * 50)

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchmany(size=2)
    print(users)
    # **************************************************

    print("-" * 50)

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

#ERROR: UNIQUE constraint failed: Users.Id

### Create Record (Row) in Table -> Best Practice

##### Learning PPrint

In [ ]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_07.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """

    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    # روش احمق‌ها - SQL Injection خطر
    # **************************************************
    id: int = 1
    credit: float = 100.0
    username: str = "dariush"
    password: str = "1234512345"

    query = f"INSERT INTO Users VALUES ({id}, '{username}', '{password}', {credit})"

    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    # Best Practice
    # **************************************************
    id = 2
    credit = 200.0
    username = "ali"
    password = "1234512345"

    query = "INSERT INTO Users VALUES (?, ?, ?, ?)"

    # Tuple
    values: tuple = (id, username, password, credit)

    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    # Best Practice
    # **************************************************
    id: int = 3
    credit: float = 300.0
    username: str = "sara"
    password: str = "1234512345"

    query = "INSERT INTO Users VALUES (:Id, :Username, :Password, :Credit)"

    # Dictionary
    values: dict = {
        "Id": id,
        "Username": username,
        "Password": password,
        "Credit": credit,
    }

    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    pprint(users)
    # print(users)
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(1, 'dariush', '1234512345', 100.0),
 (2, 'ali', '1234512345', 200.0),
 (3, 'sara', '1234512345', 300.0)]

### Batch Create

In [ ]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_08.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""
    values: list = []

    # **************************************************

    query: str = """
    CREATE TABLE IF NOT EXISTS Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """

    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "INSERT INTO Users VALUES (?, ?, ?, ?)"

    values = [
        (11, "username1", "1234512345", 21),
        (12, "username2", "1234512345", 22),
        (13, "username3", "1234512345", 23),
        (14, "username4", "1234512345", 24),
        (15, "username5", "1234512345", 25),

        (16, "username6", "1234512345", 26),
        (17, "username7", "1234512345", 27),
        (18, "username8", "1234512345", 28),
        (19, "username9", "1234512345", 29),
    ]

    cursor.executemany(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    pprint(users)
    # print(users)
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(11, 'username1', '1234512345', 21.0),
 (12, 'username2', '1234512345', 22.0),
 (13, 'username3', '1234512345', 23.0),
 (14, 'username4', '1234512345', 24.0),
 (15, 'username5', '1234512345', 25.0),
 (16, 'username6', '1234512345', 26.0),
 (17, 'username7', '1234512345', 27.0),
 (18, 'username8', '1234512345', 28.0),
 (19, 'username9', '1234512345', 29.0)]

In [ ]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_09.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""
    values: list = []

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Id       INT  PRIMARY KEY NOT NULL,
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """

    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "INSERT INTO Users VALUES (:Id, :Username, :Password, :Credit)"

    values = [
        {"Id": 11, "Username": "username1", "Password": "1234512345", "Credit": 21},
        {"Id": 12, "Username": "username2", "Password": "1234512345", "Credit": 22},
        {"Id": 13, "Username": "username3", "Password": "1234512345", "Credit": 23},
        {"Id": 14, "Username": "username4", "Password": "1234512345", "Credit": 24},
        {"Id": 15, "Username": "username5", "Password": "1234512345", "Credit": 25},
        {"Id": 16, "Username": "username6", "Password": "1234512345", "Credit": 26},
        {"Id": 17, "Username": "username7", "Password": "1234512345", "Credit": 27},
        {"Id": 18, "Username": "username8", "Password": "1234512345", "Credit": 28},
        {"Id": 19, "Username": "username9", "Password": "1234512345", "Credit": 29},
    ]

    cursor.executemany(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    pprint(users)
    # print(users)
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[(11, 'username1', '1234512345', 21.0),
 (12, 'username2', '1234512345', 22.0),
 (13, 'username3', '1234512345', 23.0),
 (14, 'username4', '1234512345', 24.0),
 (15, 'username5', '1234512345', 25.0),
 (16, 'username6', '1234512345', 26.0),
 (17, 'username7', '1234512345', 27.0),
 (18, 'username8', '1234512345', 28.0),
 (19, 'username9', '1234512345', 29.0)]

### SELECT Samples

In [ ]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_09.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""

    # **************************************************
    query = "SELECT * FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT Username, Password FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users WHERE Credit > 27"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    username: str = "username1"

    query = f"SELECT * FROM Users WHERE Username = '{username}'"

    cursor.execute(query)
    user = cursor.fetchone()

    print("-" * 50)
    print("روش احمقانه")
    print("Query:", query)
    print()
    pprint(user)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    username: str = "username1"

    query = "SELECT * FROM Users WHERE Username = ?"

    values: tuple = (username,)

    cursor.execute(query, values)
    user = cursor.fetchone()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(user)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    username: str = "mohammad"

    query = "SELECT * FROM Users WHERE Username = ?"

    values: tuple = (username,)

    cursor.execute(query, values)
    user = cursor.fetchone()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(user)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    username: str = "username1"

    query = "SELECT * FROM Users WHERE Username = :Username"

    values: dict = {"Username": username}

    cursor.execute(query, values)
    user = cursor.fetchone()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(user)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users WHERE Credit > 27 ORDER BY Username"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users WHERE Credit > 27 ORDER BY Username ASC"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users WHERE Credit > 27 ORDER BY Username DESC"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT rowid, Id, Username, Password FROM Users"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT rowid, * FROM Users;"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

    # **************************************************
    query = "SELECT rowid, * FROM Users WHERE rowid < 4"

    cursor.execute(query)
    users = cursor.fetchall()

    print("-" * 50)
    print("Query:", query)
    print()
    pprint(users)
    print("-" * 50)
    print()
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()


    if connection:
        connection.close()

--------------------------------------------------
Query: SELECT * FROM Users

[(11, 'username1', '1234512345', 21.0),
 (12, 'username2', '1234512345', 22.0),
 (13, 'username3', '1234512345', 23.0),
 (14, 'username4', '1234512345', 24.0),
 (15, 'username5', '1234512345', 25.0),
 (16, 'username6', '1234512345', 26.0),
 (17, 'username7', '1234512345', 27.0),
 (18, 'username8', '1234512345', 28.0),
 (19, 'username9', '1234512345', 29.0)]
--------------------------------------------------

--------------------------------------------------
Query: SELECT Username, Password FROM Users

[('username1', '1234512345'),
 ('username2', '1234512345'),
 ('username3', '1234512345'),
 ('username4', '1234512345'),
 ('username5', '1234512345'),
 ('username6', '1234512345'),
 ('username7', '1234512345'),
 ('username8', '1234512345'),
 ('username9', '1234512345')]
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Credit > 27

[(18, 'username8', '1234512345', 28.0), (19, 'username9', '1234512345', 29.0)]
--------------------------------------------------

--------------------------------------------------
روش احمقانه
Query: SELECT * FROM Users WHERE Username = 'username1'

(11, 'username1', '1234512345', 21.0)
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Username = ?

(11, 'username1', '1234512345', 21.0)
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Username = ?

None
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Username = :Username

(11, 'username1', '1234512345', 21.0)
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Credit > 27 ORDER BY Username

[(18, 'username8', '1234512345', 28.0), (19, 'username9', '1234512345', 29.0)]
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Credit > 27 ORDER BY Username ASC

[(18, 'username8', '1234512345', 28.0), (19, 'username9', '1234512345', 29.0)]
--------------------------------------------------

--------------------------------------------------
Query: SELECT * FROM Users WHERE Credit > 27 ORDER BY Username DESC

[(19, 'username9', '1234512345', 29.0), (18, 'username8', '1234512345', 28.0)]
--------------------------------------------------

--------------------------------------------------
Query: SELECT rowid, Id, Username, Password FROM Users

[(1, 11, 'username1', '1234512345'),
 (2, 12, 'username2', '1234512345'),
 (3, 13, 'username3', '1234512345'),
 (4, 14, 'username4', '1234512345'),
 (5, 15, 'username5', '1234512345'),
 (6, 16, 'username6', '1234512345'),
 (7, 17, 'username7', '1234512345'),
 (8, 18, 'username8', '1234512345'),
 (9, 19, 'username9', '1234512345')]
--------------------------------------------------

--------------------------------------------------
Query: SELECT rowid, * FROM Users;

[(1, 11, 'username1', '1234512345', 21.0),
 (2, 12, 'username2', '1234512345', 22.0),
 (3, 13, 'username3', '1234512345', 23.0),
 (4, 14, 'username4', '1234512345', 24.0),
 (5, 15, 'username5', '1234512345', 25.0),
 (6, 16, 'username6', '1234512345', 26.0),
 (7, 17, 'username7', '1234512345', 27.0),
 (8, 18, 'username8', '1234512345', 28.0),
 (9, 19, 'username9', '1234512345', 29.0)]
--------------------------------------------------

--------------------------------------------------
Query: SELECT rowid, * FROM Users WHERE rowid < 4

[(1, 11, 'username1', '1234512345', 21.0),
 (2, 12, 'username2', '1234512345', 22.0),
 (3, 13, 'username3', '1234512345', 23.0)]
--------------------------------------------------

### ایجاد جدول کاربران بدون آی‌دی

In [41]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_10.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""
    values: list = []

    # **************************************************
    query = """
    CREATE TABLE IF NOT EXISTS Users (
        Username TEXT             NOT NULL,
        Password TEXT             NOT NULL,
        Credit   REAL             NOT NULL);
    """
    cursor.execute(query)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "INSERT INTO Users VALUES (:Username, :Password, :Credit)"
    values = [
        {"Username": "username1", "Password": "1234512345", "Credit": 21},
        {"Username": "username2", "Password": "1234512345", "Credit": 22},
        {"Username": "username3", "Password": "1234512345", "Credit": 23},
        {"Username": "username4", "Password": "1234512345", "Credit": 24},
        {"Username": "username5", "Password": "1234512345", "Credit": 25},
        {"Username": "username6", "Password": "1234512345", "Credit": 26},
        {"Username": "username7", "Password": "1234512345", "Credit": 27},
        {"Username": "username8", "Password": "1234512345", "Credit": 28},
        {"Username": "username9", "Password": "1234512345", "Credit": 29},
    ]
    cursor.executemany(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    pprint(users)
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[('username1', '1234512345', 21.0),
 ('username2', '1234512345', 22.0),
 ('username3', '1234512345', 23.0),
 ('username4', '1234512345', 24.0),
 ('username5', '1234512345', 25.0),
 ('username6', '1234512345', 26.0),
 ('username7', '1234512345', 27.0),
 ('username8', '1234512345', 28.0),
 ('username9', '1234512345', 29.0)]

### Update (Modify) Record (Row)
### Delete Record (Row)

In [44]:
import sqlite3 as sqlite
from pprint import pprint

try:
    database: str = "./data/temp_10.db"
    connection = sqlite.connect(database=database)
    cursor = connection.cursor()

    query: str = ""

    # **************************************************
    # Update
    # **************************************************

    # **************************************************
    query = "UPDATE Users SET Credit = :Credit WHERE Username = :Username"
    # در این حالت ترتیب نوشتن اهمیتی ندارد
    values: dict = {"Username": "username1", "Credit": 100}
    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "UPDATE Users SET Credit = ? WHERE Username = ?"
    # در این حالت ترتیب نوشتن اهمیت دارد
    values: tuple = (200, "username2")
    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    # Delete
    # **************************************************

    # **************************************************
    query = "DELETE FROM Users WHERE Username = :Username"
    values: dict = {"Username": "username3"}
    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "DELETE FROM Users WHERE Username = ?"
    values: tuple = ("username4",)
    cursor.execute(query, values)
    connection.commit()
    # **************************************************

    # **************************************************
    query = "SELECT * FROM Users"
    cursor.execute(query)
    users = cursor.fetchall()
    pprint(users)
    # **************************************************

except Exception as ex:
    print(f"#ERROR: {ex}")

finally:
    if cursor:
        cursor.close()

    if connection:
        connection.close()

[('username1', '1234512345', 100.0),
 ('username2', '1234512345', 200.0),
 ('username5', '1234512345', 25.0),
 ('username6', '1234512345', 26.0),
 ('username7', '1234512345', 27.0),
 ('username8', '1234512345', 28.0),
 ('username9', '1234512345', 29.0)]

# Some Advanced Topics!

### Display Verson of SQLite

In [ ]:
import sqlite3 as sqlite

database: str = "./data/temp_09.db"
connection = sqlite.connect(database=database)
cursor = connection.cursor()

query: str = "SELECT sqlite_version();"
cursor.execute(query)
result = cursor.fetchall()
print(result)

cursor.close()
connection.close()

### Display List of Tables

In [ ]:
import sqlite3 as sqlite

database: str = "./data/temp_08.db"
connection = sqlite.connect(database=database)
cursor = connection.cursor()

query: str = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

cursor.close()
connection.close()

### Drop Table

In [ ]:
import sqlite3 as sqlite

database: str = "./data/temp_08.db"
connection = sqlite.connect(database=database)
cursor = connection.cursor()

query: str = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

# query = "DROP TABLE Users"
query = "DROP TABLE IF EXISTS Users"
cursor.execute(query)
connection.commit()

query = "SELECT name FROM sqlite_master WHERE type='table';"
cursor.execute(query)
tables = cursor.fetchall()
print(tables)

cursor.close()
connection.close()